#Print Function

In [ ]:
# Simple print example
print("Hello, World!")

Hello, World!

In [ ]:
#Without print function
print("Hello")
print("World")

Hello
World

In [ ]:
#Print with Inputs
name = "Yengkong"
age = 40
print("My name is", name, "and I am", age, "years old.")

My name is Yengkong and I am 40 years old.

In [ ]:
# Define the variables
name = "Yengkong"
age = 40

# String concatenation (+)
print("My name is " + name + " and I am " + str(age) + " years old")

My name is Yengkong and I am 40 years old

In [ ]:
# F-string
print(f"My name is {name} and I am {age} years old")

My name is Yengkong and I am 40 years old

In [ ]:
# Input function
name = input()

In [ ]:
# Customizable Print Function
name = input("Please enter your name: ")

Please enter your name: Yengkong

In [ ]:
# Personalized greeting
name = input("Please enter your name: ")
age = input("Please enter your age: ")

# Print function for greeting
print(f"Hello, {name}! You are {age} years old.")

Please enter your name: Yengkong
Please enter your age: 40
Hello, Yengkong! You are 40 years old.

In [ ]:
# Personalized greetings
name = input("Please enter your name: ")
age = input("Please enter your age: ")

# Print function to greeting
print(f"Hello, {name}! You are {age} years old.")

Please enter your name: Yengkong
Please enter your age: 40
Hello, Yengkong! You are 40 years old.

#CHALLENGE - Your Superhero Name

In [ ]:
# Step 1: Find the adjective on the 13th page of the book closest to you.
adjective = input("Find first adjective in the 13th page of a book: ")
# The Go-Getter -> general

# Step 2: Something that scares you (noun)
noun = input("Something that scares you: ")

# Step 3: Display the information to the user
print(f"Your superhero name is {adjective} {noun}")

Find first adjective in the 13th page of a book: general
Something that scares you: heights
Your superhero name is general heights

#Variable Types in Pythons

In [ ]:
# Checking Variable Type
name = "Yengkong"
age = 40
height = 5.583
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Transform a float into an integer
height = 5.583
height_integer = int(height)
print(height)
print(height_integer)

5.583
5

In [ ]:
# Transform an integer into a float
a = 10
b = float(a)
print(a)
print(b)

10
10.0

In [ ]:
# Transform a string into a float
height = input("Please enter your height: ")
type(height)

Please enter your height: 5.583

str

In [ ]:
# Boolean
C = True
type(C)

bool

#Arithmetic Operations

In [ ]:
# Decalring Variables
x = 5
y = 3

In [ ]:
# Addition
x + y

8

In [ ]:
# Subtraction
x - y

2

In [ ]:
# Multiplication
x * y

15

In [ ]:
# Division
x/y

1.6666666666666667

In [ ]:
# Modulus
x % y

2

In [ ]:
# Exponential
x ** y

125

In [ ]:
# Floor Division
x // y

1

In [6]:
# Compound Assignment Operators ( +=, -=, *=, /=, %=, **=, //=)
x = 5  # Initialize x with a value
x += 3 # equivalent to x = x + 3
print(x)

8

In [9]:
# Less techie way of doing it
x = x + 3
print(x)

14

In [11]:
# Floor Division Compound
x //= 5
print(x)

2

#Python Comparison Operators

In [12]:
# Decalring Variables
x = 5
y = 3

In [13]:
# Equal to (==)
x == y

False

In [14]:
# Not equal
x != y

True

In [15]:
# Greater than (>)
x > y

True

In [16]:
# Less than (<)
x < y

False

In [17]:
# Greater than or equal to (>=)
x >= y

True

In [18]:
# Less than or equal to (<=)
x <= y

False

#CHALLENGE - Split Bill Calculator

In [19]:
# Step 1: Prompt for the total cost of the meal
meal_cost = float(input("Enter the total cost of the meal: "))

# Step 2: Prompt for the tip percentage
tip_percentage = float(input("Enter the tip percentage you would like to apply (e.g., 15 for 15%): "))

# Step 3: Prompt for the number of people at the table
num_people = int(input("Enter the number of people at the table: "))

# Step 4: Calculate the tip amount
tip_amount = (tip_percentage / 100) * meal_cost

# Step 5: Calculate the total cost of the meal, including the tip
total_cost = meal_cost + tip_amount

# Step 6: Divide the total cost by the number of people at the table
cost_per_person = total_cost / num_people

# Step 7: Display the tip amount, total cost, and cost per person
print("\n--- Bill Summary ---")
print(f"Tip amount: ${tip_amount:.2f}")
print(f"Total cost (including tip): ${total_cost:.2f}")
print(f"Cost per person: ${cost_per_person:.2f}")

Enter the total cost of the meal: 45
Enter the tip percentage you would like to apply (e.g., 15 for 15%): 10
Enter the number of people at the table: 7

--- Bill Summary ---
Tip amount: $4.50
Total cost (including tip): $49.50
Cost per person: $7.07

#If-else conditions

In [21]:
#IF statement
x = 1

if x > 5:
  print("x is greater than 5")

In [22]:
#IF statement part 2
x = 10

if x > 5:
  print("x is greater than 5")

x is greater than 5

In [24]:
# If + elif
x = 20

#if condition
if x > 15:
  print("x is greater than 5")
elif x > 5:
  print("x is greater than 5 but not greater than 15")

x is greater than 5

In [27]:
# If + elif + else
x = -10

#if condition
if x > 15:
  print("x is greater than 5")
elif x > 5:
  print("x is greater than 5 but not greater than 15")
else:
  print("x is less than or equal to 5")

x is less than or equal to 5

# EXERCISE - Can You Vote?

In [31]:
# Create an if-else condition that tells you whether someone can vote
# The assessment must be based on their age.

age = input("Please enter your age: ")
age = int(age)

#if-else condition
if age >= 18:
  print("You can vote")
else:
  print("You cannot vote")

Please enter your age: 40
You can vote

# EXERCISE - Grading Papers

In [36]:
# Take an input of a test score (0-100) and transform it into a grade (A-F)
score = float(input("Please enter your test score (0-100): "))

if score >= 90:
  grade = "A"
  print(f"Your score of {score} is equivalent to a grade of an {grade}")
elif score >= 80:
  grade = "B"
  print(f"Your score of {score} is equivalent to a grade of a {grade}")
elif score >= 70:
  grade = "C"
  print(f"Your score of {score} is equivalent to a grade of a {grade}")
elif score >= 60:
  grade = "D"
  print(f"Your score of {score} is equivalent to a grade of a {grade}")
else:
  grade = "F"
  print(f"Your score of {score} is equivalent to a grade of a {grade}")

Please enter your test score (0-100): 82
Your score of 82.0 is equivalent to a grade of a B

# CHALLENGE - Berghain Club Bouncer

In [37]:
# Prompt the user for their age and the current number of guests in the club
age = int(input("Please enter your age: "))
current_guests = int(input("Please enter the current number of guests in the club: "))

# Check the conditions for entry
if age < 18 or age > 60:
    print("Sorry, you cannot enter the club due to age restrictions.")
elif current_guests >= 200:
    print("Sorry, the club is at maximum capacity. Please try again later.")
else:
    print("Welcome to Berghain!")

Please enter your age: 55
Please enter the current number of guests in the club: 199
Welcome to Berghain!

# CHALLENGE - Your Monthly Savings Plan

In [38]:
# Prompt the user for their current age
current_age = int(input("Enter your current age: "))

# Prompt the user for their target retirement age
retirement_age = int(input("Enter your target retirement age: "))

# Prompt the user for their desired savings amount at retirement
desired_savings = float(input("Enter your desired savings amount at retirement: "))

# Prompt the user for the annual interest rate on their savings
annual_interest_rate = float(input("Enter the annual interest rate (in %): ")) / 100

# Calculate the number of years left until retirement
years_left = retirement_age - current_age

# Calculate the total number of months left until retirement
months_left = years_left * 12

# Determine the ideal monthly savings amount
if annual_interest_rate > 0:
    monthly_interest_rate = (1 + annual_interest_rate) ** (1 / 12) - 1
    monthly_savings = desired_savings * monthly_interest_rate / ((1 + monthly_interest_rate) ** months_left - 1)
else:
    monthly_savings = desired_savings / months_left

# Display the ideal monthly savings amount to the user
print(f"To achieve your desired savings of ${desired_savings:,.2f}, you need to save ${monthly_savings:,.2f} per month.")

Enter your current age: 38
Enter your target retirement age: 50
Enter your desired savings amount at retirement: 1000000
Enter the annual interest rate (in %): 10
To achieve your desired savings of $1,000,000.00, you need to save $3,728.97 per month.